// Colors
$darkgrey: #141414;
$red: #a41e14;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$PrimaryFont: 'Roboto Condensed', sans-serif;

/* BTN */

.blackBtn {
  text-decoration: none;
  font-weight: 300;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  font-size: 12px;
  background-color: #000;
  color: white;
  border: none;
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.582);
  cursor: pointer;
  &:active {
    transform: scale(1.07);
  }
  &:hover {
    color: white;
  }
}

.whiteBtn {
  text-decoration: none;
  font-weight: 300;
  width: fit-content;
  padding: 0.2rem 1rem;
  border-radius: 2px;
  font-size: 12px;
  background-color: #ffff;
  color: black;
  border: none;
  box-shadow: 4px 3px 20px rgba(0, 0, 0, 0.699);
  cursor: pointer;
}

/* BOX SHADOWS */
$DarkShadow: 4px 3px 15px rgba(0, 0, 0, 0.582);
