@import '../../styles/styles';

.Header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #000;
  .row {
    background-color: #000;
    color: white;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    img {
      width: auto;
      height: 62px;
      border-radius: 50%;
      margin-left: 1rem;
    }
    ul {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      padding: 0;

      li {
        list-style: none;
        margin: 0 0.5rem;
        a {
          text-decoration: none;
          color: white;
          font-family: $PrimaryFont;
          &:hover {
            text-decoration: underline solid 1px white;
          }
          img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
          }
          img:hover {
            height: 26px;
            width: 26px;
            border: rgb(212, 47, 253) solid 2px;
          }
        }
        span {
          margin: 0 3px;
          img {
            width: 23px;
            height: auto;
          }
        }
      }
    }
  }
}
