@import '../../styles/styles';

* {
  color: white;
  font-family: $PrimaryFont;
}

.machine {
  width: 200px;
  position: relative;
  margin: -6rem 25% -10rem 20%;
  z-index: 100;
}
.footer {
  text-align: center;
  display: flex;
  flex-direction: column;

  background: black;
  clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 10rem;

  h1 {
    font-weight: 100;
    font-style: italic;
  }
  img {
    width: 50px;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: -25px;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
    }
    input,
    textarea {
      margin: 0 auto;
      margin-bottom: 0.6rem;
      max-width: 400px;
      min-width: 300px;
      border: none;
      border-radius: 0.2rem;
      padding: 0.4rem;
      box-shadow: $DarkShadow;

      color: black;
      &:focus-visible {
        outline: none;
      }
    }

    .submitBtn {
      @extend .blackBtn;
      background-color: rgb(207, 41, 35);
      margin: auto;
      font-size: 1rem;
      padding: 0.2rem 0.6rem;
      margin-bottom: 5rem;
    }
  }

  div {
    margin-top: 2rem;
    display: flex;
    margin: auto;
    padding: 1rem;
    small {
      font-weight: 500;
      font-size: 1rem;
      @extend .blackBtn;
    }
  }
  a {
    background-color: $darkgrey;
    padding: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 600px) {
  .machine {
    margin: -6rem 25% -10rem 35%;
  }
}

@media (min-width: 800px) {
  .machine {
    margin: -6rem 25% -10rem 35%;
  }
}

@media (min-width: 1000px) {
  .machine {
    margin: -6rem 25% -10rem 45%;
  }
}
