@import '../../styles/styles';

.showcase {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  background-color: black;
  background: url('../../images/mainbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  img {
    width: 340px;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .showcase {
    height: 30vh;
    img {
      width: 200px;
    }
  }
}
