@import '../../styles/styles';

* {
  font-family: $PrimaryFont;
  font-weight: 400;
  font-style: italic;
}

.aboutme {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  z-index: 1;
  .saw {
    position: absolute;
    margin-top: -7rem;
    transform: rotate(30deg);
    right: 0;
    max-width: 260px;
    z-index: 1;
  }
  .pole {
    display: flex;
    img {
      margin-top: 1rem;
      margin-left: 3rem;
      max-height: 200px;
      z-index: 1;
    }
  }
  .left {
    margin-top: -2rem;
    img {
      margin-top: 4rem;
      border-radius: 50%;
      width: 100px;
      box-shadow: $DarkShadow;
    }
    padding: 0.1rem;
    h3 {
      .star {
        box-shadow: none !important;
        width: 20px;
        margin-top: 5px;
      }
    }
    strong {
      color: black;
      margin: 0;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .right {
    padding: 1rem;
    max-width: 400px;
    margin: auto;

    strong {
      color: black;
      margin: 0;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}
